<p id="notice"><%= notice %></p>
<div class = "row">
  <div class ="col-md-8">
    <h1>Is the Space Open?</h1>
  </div>
  <div class="col-md-4">
    <h2><%= Time.zone.now.strftime("%m/%d/%Y") %></h2>
  </div>
</div>
<div class="jumbotron">
<table>
  <thead>
    <tr>
      <th>Member:</th>
      <th>Space is:</th>
      <th>Hours:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><button class="btn btn-success btn-lg" type="button"><span class="glyphicon glyphicon-check" aria-hidden="true"></span><%= human_boolean(status.space_status) %></span></button></td>
        <td><%= status.hours %></td>
        <td><%= link_to 'I am leaving', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<div>
<%= link_to new_status_path do %>
  <button class="btn btn-default btn-lg pull-right"><span class="glyphicon glyphicon-eye-open"></span>Are You Here?</button>

<% end %>


<p class ="ft-text">LVL1</p>
<hr>
</br>
</div>


 