<p id="notice"><%= notice %></p>

<h1>Is the Space Open?</h1>
<div class="jumbotron">
<table>
  <thead>
    <tr>
      <th>Who</th>
      <th>Space Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= human_boolean(status.space_status) %></td>
        
        <td><button class="btn btn-default btn-lg" type="button"><%= link_to 'Show', status %></button></td>
        <td><button class="btn btn-default btn-lg" type="button"><%= link_to 'Edit', edit_status_path(status) %></button></td>
        <td><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<!-- #<%= link_to 'New Status', new_status_path %>
 -->